* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Poppins ;
    flex-shrink: 1;

}
body {
    background: #F9F9F9;
    
}

 .container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 84px;
}
.span--display__block{
    display: block;
}
/* ------------------------------------------------------------ */
/* part -1 */
/* header---------------------------------------------------------- */
header {
margin-top: 34px;
margin-bottom: 47px;
}

.header {
    display: flex;
    align-items: center;
    

}

.lux__ventus--logo{
    width: 234px;
    height: 49px;
}

.space{
    max-width: 200px;
    width: 100%;
    height: 5px;
    background-color: #4CE0D7;
    flex-shrink: 10;
    visibility: hidden;
    
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 1;
}

.nav > * {
    padding: 9px 32px 7px 32px;
}

.nav a {
    text-decoration: none;
    color: #262626;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    text-align: left;

    border-radius: 20px;

}
.nav a:hover{
    background-color: #4CE0D7;

}
/* body_ის ნაწილები */
/* სექცია პირველი -----------------------------------------------------------------------------------------------*/
    .first--section {
    max-width: 1272px;
    height: 559px;
    gap: 0px;
    opacity: 0px;
    background-image: url("./images/sunglass.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 73px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.first--section h4 {
    font-family: Poppins;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.23em;
    text-align: left;
    margin-bottom: 22px;

}
.first--section h1 {
    font-family: Poppins;
    font-size: 46px;
    font-weight: 400;
    line-height: 69px;
    text-align: left;
    margin-bottom: 19px;

}
.ventus--fashion {
    font-family: Poppins;
    font-size: 46px;
    font-weight: 700;
    line-height: 69px;
    text-align: left;
    background: linear-gradient(to right, #2BBEC8, #1180a9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.first--section p {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;

}
/* part -2--------------------------------------------------------------------------------------------------------------------------------------------- */
.section--third {
    display: flex;
    flex-direction: column;
    max-width: 1270px;
    width: 100%;
    padding: 0;
}

.section--third h2 {
    font-family: Poppins;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
    color: #262626;
    margin-bottom: 48px;


    align-self: flex-start;

}

.section--third__topics {
    display: flex;
    gap: 9px;
    margin-bottom: 87.5px;
    overflow-x: scroll;
    /* flex-wrap: wrap; */
    min-height: 291px;
}

.topic--card {
    min-width: 204px;
    max-width: 204px;
    width: 100%;
    min-height: 300px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;

}

.topic--card:hover {
    background-color: rgb(62, 62, 62);
    color: white;
    transition: all 0.5s ease;
    cursor: pointer;
}
.topic--card:hover  h4{
    color: #ffffff;
}

.topic--card button{
    width: 143.81px;
    height: 35.95px;
    background-color: #4CE0D7;
    color: #262626;
    border-radius: 40px ;
    opacity: 0px;
    angle: 0.47 deg;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
    margin-bottom: 30px;


}
.topic--card button:hover{
    background: linear-gradient(#e66465, #9198e5);
    color: #ffffff;
    transform: scale(1.05);
    transition: all 0.5s ease;
    cursor: pointer;
}
.topic--card button:active{  

    cursor: wait;
}



.section--third__topics h4 {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    color:#262626;
    margin-bottom: 29px;
    

}

.topic--card__1 {
    width: 88px;
    height: 88px;
    margin-bottom: 20px;


}
.topic--card__2 {
    width: 103px;
    height: 103px;
    padding: 0 17.17px 17.17px 17.17px;
    margin-bottom: 5px;
}

.topic--card__3 {
    width: 100px;
    height: 100px;
    padding: 0px 6.26px 0px 6.26px;
    margin-bottom: 18px;
}

.topic--card__4 {
    width: 89px;
    height: 89px;
    margin-bottom: 27px;
}

.topic--card__5 {
    width: 86px;
    height: 86px;
    margin-bottom: 27px;


}

.topic--card__6 {
    width: 102px;
    height: 102px;  
    margin-bottom: 24px;
}

.section--third__end {
    max-width: 1267px;
    width: 100%;
    height: 0;
    border: 1px solid #BCBCBC;
    margin-bottom: 52px;
}
/* part -3--------------------------------------- */
.section--fourth {
    display: flex;
    flex-direction: column;
    max-width: 1204px;
    width: 100%;
    min-height: 698px;
    margin: 0 auto;
    background-color: #FFFFFF;
    margin-bottom: 94px;
    border-radius: 20px;

}
.section--fourth__top {
    max-width: 1204px;
    width: 100%;
    height: 360.3px;
    background-image: url(./images/whitecloses.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    margin-bottom: 23px;
}
.section--fourth__top button {
    max-width: 233.95px;
    width: 100%;
    height: 36.49px;
    background-color: #262626;
    color: #ffffff;
    border-radius: 40px ;
    angle: 0.36 deg;
    margin-top: 23px;
    margin-left: 47px;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    text-align: center;

}
.section--fourth__top button:hover{
    color: black;
    background-color: rgba(236, 232, 232, 0.511);
    transform: scale(1.05);
    transition: all 0.5s ease;
    font-size: 16px;
    cursor: pointer;
}

.section--fourth__mid{
    display: flex;
    align-items: center;
    margin-left: 64px;
}
.section--fourth__mid img{
    margin-right: 20px;
    margin-bottom: 29.5px;
}
.section--fourth__data {
    display: flex;
    max-width: 384px;
    width:100%;
    justify-content: space-between;
}
.section--fourth__data p:first-child{
    color: #BCBCBC;
    width: 167px;
    height: 21px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    
    
}


.section--fourth__data p:nth-last-of-type(1){
    max-width: 167px;
    height: 21px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #BCBCBC;


}
.space--section__4{
    max-width: 389px;
    width: 100%;
    height: 5px;
    flex-shrink: 100;
}

.section--fourth__mid h3 {
    margin-left: 63px;
    max-width: 216px;
    height: 23px;
    font-family: Poppins;
    margin-bottom: 10px;
   
}
.section--fourth__mid h3 a{
    text-decoration: none;
    color: #F25E5E;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.24em;
    text-align: left;
}

.section--fourth__text{
    margin-left: 64px;

}
.section--fourth__text h2{
    max-width: 1044px;
    width: 100%;
    height: 36px;
    font-family: Poppins;
    font-size: 26px;
    font-weight: 700;
    line-height: 39px;
    text-align: left;
    color: #262626;
    margin-bottom: 23px;

    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;

}

.section--fourth__text p {
    max-width: 1033px;
    width: 100%;
    height: 73px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #262626;

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;


}
.section--fourth .cards--read__more{
    margin-left: 64px;
}

/* seaction -5----------- --*/

.section--fifth {
    display: flex;
    max-width: 1204px;
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
    margin-bottom: 88px;
    
}


.section--fifth__tittle{
    max-width:370px;
    width: 100%;
    height: 36px;
    margin-bottom: 55px;
}

.section--fifth__tittle h2{
    font-family: Poppins;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
    color: #262626;

}
.section--fifth__cards{
    
    display: flex;
    max-width: 1204px;
    width: 100%;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    gap: 60px;
 
}
/* სექცია 5 მარცხენა ქარდი */

.section--fifth__left{
    max-width: 579px;
    width:100%;
    height: 670px;
    background-color: #FFFFFF;
    border-radius: 20px;

}

.fifth--left__top{
    background-image: url("./images/depress.png");
    max-width: 579.02px;
    height: 278px;
    width: 100%;
    flex-basis: 579px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 23px;
    
    border-radius: 20px;


}
.fifth--left__top button {
    max-width: 175.44px;
    width: 100%;
    height: 36.49px;
    background-color: #262626;
    border-radius: 40px;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
    color: #ffffff;    
    margin-top: 20px;
    margin-left: 34px;
}
.fifth--left__top button:hover {
    color: black;
    background-color: rgba(235, 227, 227, 0.581);
    transform: scale(1.05);
    transition: all 0.5s ease;
    font-size: 16px;
    cursor: pointer;

}
.fifth--left__data{
    display: flex;
    margin-left: 26px;
    align-items: center;
    margin-bottom: 29px;

}
.fifth--left__data img{
    margin-right: 13px;
   
}
.fifth--left__profile {
    max-width: 420px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fifth--left__profile p{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #BCBCBC;


}
.section--fifth__left h2 {
    max-width: 360px;
    width: 100%;
    height: 94px;
    font-family: Poppins;
    font-size: 26px;
    font-weight: 700;
    line-height: 39px;
    text-align: left;
    color: #262626;
    margin-left: 26px;
    margin-bottom: 2px;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}


.section--fifth__left >p {
    max-width: 360px;
    width: 100%;
    height: 98px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #262626;
    margin-bottom: 20px;
    margin-left: 26px;

    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    
}



/* სექცია -5 მარჯვენა ნაწილი */
.section--fifth__right{
    max-width: 579px;
    width:100%;
    height: 670px;
    background-color: #FFFFFF;
    border-radius: 20px;

}
.section--fifth__cards {
    display: flex;
    justify-content: space-between;
    }
 
.fifth--right__top {
    background-image: url("./images/girlatbeach.png");
    max-width: 579.02px;
    height: 278px;
    width: 100%;
    flex-basis: 579px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 23px;
    border-radius: 20px;
}
.fifth--right__top button {
    max-width: 175.44px;
    width: 100%;
    height: 36.49px;
    background-color: #262626;
    border-radius: 40px;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
    color: #ffffff;    
    margin-top: 20px;
    margin-left: 34px;
}
.fifth--right__top button:hover {
    color: black;
    background-color: rgba(235, 227, 227, 0.581);
    transform: scale(1.05);
    transition: all 0.5s ease;
    font-size: 16px;
    cursor: pointer;

}
.fifth--right__data{
    display: flex;
    margin-left: 26px;
    align-items: center;
    margin-bottom: 29px;

}

.fifth--right__data img{
    margin-right: 13px;
   
}
.fifth--right__profile {
    max-width: 420px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fifth--right__profile p{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #BCBCBC;


}
.section--fifth__right h2 {
    max-width: 360px;
    width: 100%;
    height: 94px;
    font-family: Poppins;
    font-size: 26px;
    font-weight: 700;
    line-height: 39px;
    text-align: left;
    color: #262626;
    margin-left: 26px;
    margin-bottom: 2px;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.section--fifth__right >p {
    max-width: 360px;
    width: 100%;
    height: 98px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #262626;
    margin-bottom: 20px;
    margin-left: 26px;

    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    
}

/* part-4------------------------------------------------------------------------------------------------- */
/* დიდი სექციები ერთად */
.card--m{
    display: flex;
    flex-direction: column;
    gap: 48px;
    max-width: 1204px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 69px;
    flex-shrink: 1;


}
/* თითო სექცია  */
.cards--m {
    max-width: 1204px;
    width: 100%;
    height: 368px;
    display: flex;
 
    background-color: #ffffff;
    border-radius: 20px;
    gap: 45.5px; 
}

.cards--m *{
    flex-shrink: 1;
}
/* სექციის მარცხენა ნაწილი ბექგრაუნდი */
.cards--m__left1 {
    max-width: 547px;
    width: 100%;
    height: 367px;
    background-image: url("./images/twogirl.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
 

    
}
.cards--m__left2 {
    max-width: 547px;
    width: 100%;
    height: 367px;
    background-image: url("./images/onegirl.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
 

    
}

.cards--m__left3 {
    max-width: 547px;
    width: 100%;
    height: 367px;
    background-image: url("./images/redgirl.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
 

    
}



/* სექციის მარცხენა ნაწილი ღილაკები  სამი ქარდისთვის*/
/* პირველი */
.cards--m__left1 button{
    background-color: #262626;
    padding: 9px 52px;
    margin-top: 25px;
    margin-left: 34px;
    border-radius: 40px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
    color: #ffffff;
}

.cards--m__left1 button:hover {
    color: black;
    background-color: rgba(236, 232, 232, 0);
    transform: scale(1.05);
    transition: all 0.5s ease;
    font-size: 16px;
    cursor: pointer;

}

.cards--m__left1 button:focus .hide{
    visibility: hidden;

}


/* მეორე */
.cards--m__left2 button{
    background-color: #262626;
    padding: 9px 43px;
    margin-top: 25px;
    margin-left: 34px;
    border-radius: 40px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
    color: #ffffff;
}

.cards--m__left2 button:hover {
    color: black;
    background-color: rgba(236, 232, 232, 0);
    transform: scale(1.05);
    transition: all 0.5s ease;
    font-size: 16px;
    cursor: pointer;

}

/* მესამე */
.cards--m__left3 button{
    background-color: #262626;
    padding: 10px 24px;
    margin-top: 25px;
    margin-left: 34px;
    border-radius: 40px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
    color: #ffffff;
}

.cards--m__left3 button:hover {
    color: black;
    background-color: rgba(236, 232, 232, 0);
    transform: scale(1.05);
    transition: all 0.5s ease;
    font-size: 16px;
    cursor: pointer;

}

    /* ----------------------------------------------------------------------------------------------------------------------------------------------- */
   
    /* სექტორის მარჯვენა ნაწილი მთლიანად */

.cards--m__right {
    flex-shrink: 1;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    
}
.cards--m__right >* {
    flex-shrink: 1;
}



    /* სექციის მარჯვენა ზედა ნაწილი: ლოგო სახელი დატაა */

.cards--right__top {
 
    margin-top: 25.5px;
    margin-bottom: 35px;
    display: flex;
    align-items: center;
 
    flex-shrink: 1;
 
    
    }
 .cards--right__top >*{
    flex-shrink: 1;
 }



    /* სექციის მაჯვენა ზედა ნაწილის პროფილის სურათი */
.cards--right__top img {
    margin-right: 16px;

}

   /* სექციის მაჯვენა ზედა ნაწილის სახელი და დატა */

.cards--right__top__data{
    display: flex;
    flex-basis: 100%;
    max-width: 470px;
    justify-content:space-between;

    
}
/* .space_2{
    max-width: 200px;
    width: 100%;
    height: 5px;
    flex-shrink: 10;
    
} */

.cards--right__top__data a {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #BCBCBC;

}
.cards--right__top__data a:hover{
    cursor: pointer;
    color: black;
    font-weight: 700;
}

 .cards--right__top__data p {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #BCBCBC;
    padding: 0 5px;


 }

 .cards--right__top__data p:hover{
    cursor: pointer;
    color: black;
 }

 /* სექციის მაჯვენა შუა ნაწილი H3 სათაური */

 .cards--right__titles {
    max-width: 440px;
    height: 94px;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 80px;

 }
 .cards--right__titles h3{
    font-family: Poppins;
    font-size: 26px;
    font-weight: 700;
    line-height: 39px;
    text-align: left;
   
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;

   


 }

/* სექციის მაჯვენა შუა ნაწილი ტექსტი P  */

.cards--right__text {

    max-width: 440px;
    height: 73px;
    margin-bottom: 9px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 5px;

}

.cards--right__text p {
    margin-top: 5px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #262626;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    
}


/*  სექციის მაჯვენა ბოლო ნაწილი:  ლინკი */

.cards--read__more {
    margin-top: 5px;
    display: flex;   
    align-items: center;

    gap: 10px;
}

.cards--read__more img{
    width: 52px;
    height: 39px;


}

.cards--read__more div{
    width: 215px;
    height: 23px;

}



.cards--read__more div a { 
    color: #4CE0D7;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.24em;
    text-align: left;


}
.cards--read__more div a:hover{
    color:rgb(17, 131, 17);
}

.cards--read__more div a:active{
    cursor: wait;
}















/*footer_ის სტილები*/

footer {
    max-width: 1440px;
    width: 100%;
    min-height: 308px;
    background-color: #ffffff;
    border-radius: 20px 20px 0 0;
    margin:  auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    
}

.footer--top {
    margin-top: 87px;
    max-width: 1267px;
    width: 100%; 
    min-height: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 87px;
   
    
  
}
.footer--top h2 {
    position: relative;
    isolation: isolate;
    font-family: Cinzel;
    font-size: 36px;
    font-weight: 400;
    line-height: 48.53px;
    text-align: left;
    font-family: 'cinzel';
    font-family: Cinzel;


}
.footer--top h2 a {
    text-decoration: none;
    color: #262626;

}

.footer--top h2::after {
    content: '';
    background: #4CE0D7;
    width: 147px;
    height: 20px;
    position: absolute;
    inset: 0;
    top: 14px;
    left: 87px;
     z-index: -1; 

}
.footer--top__right {
display: flex;
gap: 5px;

}

.footer--top__right a{
    font-family: Poppins;
    font-size: 26px;
    font-weight: 700;
    line-height: 39px;
    text-align: left;
    text-decoration: none;
    color: #262626;


}
.footer--top__right > div {
    max-width: 227px;
    width: 100%;

    height: 42px;
    padding-right: 36px;
}

.footer--top__right ul {
    display: flex;
    list-style: none;
    gap: 20px;
}


.footer--top__right ul li a img {
    Width: 31px;
    Height: 31px;
}
 /* footer----mid */
.footer--mid {
    background-color: aqua;
    max-width: 1267px;
    width: 100%;
    height: 0;
    border: 1px solid #BCBCBC;
    margin-bottom: 34px;
}
/* footeer bottom */

.footer--bottom {
    width: 413px;
    height: 24px;

}
.footer--bottom a{
    text-decoration: none;
    color: #262626;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    text-align: left;


}
/* რესპონსიულობა */

/* ტაბლეტი */
@media screen and (min-width: 768px) and (max-width: 1023px){


    /* part -4 for tablet */
.container {
    display: flex;
    flex-direction: column;
    max-width: 1023px;
}
.span--display__block{ 
    display: inline;
}
.section--fifth__cards{
    flex-direction: column;
}



    /* mypart */
    .card--m{
        display: flex;
        flex-direction: column;
        gap: 48px;
        max-width: 1204px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 69px;
        flex-shrink: 1;
    
    
    }
    /* თითო სექცია  */
    .cards--m {
        max-width: 1204px;
        width: 100%;
        height: 368px;
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        border-radius: 20px;
        gap: 45.5px; 
        align-items: center;
    }
    
    .cards--m *{
        flex-shrink: 1;
    }
    .cards--read__more {
        justify-content: center;
    }

    
 /* სექტორის მარჯვენა ნაწილი მთლიანად */
 .card--m{
    display: flex;
    flex-direction: column;
    gap: 48px;
    max-width: 1204px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 69px;
    flex-shrink: 1;
}
/* თითო სექცია  */
.cards--m {
    max-width: 1204px;
    width: 100%;
    height:auto;
    display: flex;
    /* flex-wrap: wrap; */
    background-color: #ffffff;
    border-radius: 20px;
    gap: 45.5px; 
}

.cards--m *{
    flex-shrink: 1;
}

}

/* მობილური*/
@media screen and (max-width: 768px) {

    .container {
        display: flex;
        flex-direction: column;
        max-width: 768px;
        align-items: center;
    }

    .span--display__block{ 
        display: inline;
    }

    /* header */
    .nav{
        flex-direction: column;
    }


    /* ------------------------ */
    .section--fifth__cards{
        flex-direction: column;
    }
    

    .card--m{
        display: flex;
        flex-direction: column;
        gap: 48px;
        max-width: 1204px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 69px;
        flex-shrink: 1;
    }
    /* თითო სექცია  */
    .cards--m {
        max-width: 1204px;
        width: 100%;
        height:auto;
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        border-radius: 20px;
        gap: 45.5px; 
    }
    
    .cards--m *{
        flex-shrink: 1;
    }
    





.section--third__topics{
    flex-direction: column;
}
/* სექციის მარცხენა ნაწილი ბექგრაუნდი */
.cards--m__left1 {
    max-width: 547px;
    width: 100%;
    height: 367px;
    background-image: url("./images/twogirl.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
 

    
}
.cards--m__left2 {
    max-width: 547px;
    width: 100%;
    height: 367px;
    background-image: url("./images/onegirl.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
 

    
}

.cards--m__left3 {
    max-width: 547px;
    width: 100%;
    height: 367px;
    background-image: url("./images/redgirl.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
 

    
}
/* სექციის მარჯვენა ნაწილი*/
.cards--m__right{
    align-items: center;

}


/* footer  */
.footer--top{
    align-items: center;
    flex-direction: column;
}
.footer--top__right{
    display: flex;
    flex-direction: column;
}    
}